
<h2>Home</h2>

<ng-container *ngIf="loggedInUser" >
    <!-- TBF - this is not a great use of the directive! -->
    <ng-container *hasRole="'Admin'">
        <div class="alert alert-warning" role="alert">
            Hello <strong>{{ emailAddress }}</strong>, you are an <strong>{{roleType}}</strong>            
        </div>
    </ng-container>
    <ng-container *hasRole="'User'">
        <div class="alert alert-info" role="alert">
            Hello {{ emailAddress }}, you are an {{roleType}}            
        </div>
    </ng-container>
    <ng-container *hasRole="'SystemAdmin'">
        <div class="alert alert-danger" role="alert">
            Hello {{ emailAddress }}, you are an {{roleType}}            
        </div>
    </ng-container>
</ng-container>