<app-title-row [title]="'Edit Statement'" [subHeading]="'Edit your current Statement'"></app-title-row>

<div class="row">
  <div class="col-lg-3"> &nbsp; </div>
  <div class="col-lg-6">

    <form #form="ngForm" (submit)="onSubmit(form)">
      
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" name="title" [(ngModel)]="statement.title"
          #statementField="ngModel" required [class.field-error]="form.submitted && statementField.invalid" />
        <div [hidden]="!form.submitted || statementField.valid" class="alert alert-danger">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input class="form-control" id="startDate" name="startDate" [(ngModel)]="statement.startDate"
          #startDateField="ngModel" required [class.field-error]="form.submitted && startDateField.invalid"
          placeholder="dd/mm/yyyy"
          bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
        <div [hidden]="!form.submitted || startDateField.valid" class="alert alert-danger">
          Start Date is required
        </div>
      </div>

      <div class="form-group">
        <label for="endDate">End Date</label>
        <input class="form-control" id="endDate" name="endDate" [(ngModel)]="statement.endDate"
          #endDateField="ngModel" required [class.field-error]="form.submitted && endDateField.invalid" 
          placeholder="dd/mm/yyyy"
          bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />

        <!--div [hidden]="endDateField.valid || endDateField.untouched" -->
        <div [hidden]="!form.submitted || endDateField.valid" class="alert alert-danger alert-error">
          End Date is required
        </div>
      </div>

       <div class="form-group">
        <label for="openingBalance">Opening Balance</label>
        <input class="form-control" id="openingBalance" name="openingBalance" [(ngModel)]="statement.openingBalance"
          #openingBalanceField="ngModel" required [class.field-error]="form.submitted && openingBalanceField.invalid" />
        <!--div [hidden]="openingBalanceField.valid || openingBalanceField.untouched" -->
        <div [hidden]="!form.submitted || openingBalanceField.valid" class="alert alert-danger">
          Opening Balance is required
        </div>
      </div>

      <div class="pull-right">
        <button class="btn btn-outline-primary" type="button" (click)="goBack()">Back</button> &nbsp;
        <button type="Save" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
</div>